.container {
    margin: 10px;
    background-color: #80cbc4;
}

.imagen-card {
    max-width: 100%;
    max-height: 100%;
}

.imagen {
    height: 50px;
    /* width: 1000px; */
}



mat-sidenav-container {
    background-color: #26a69a;
}

mat-toolbar {
    background-color: #00796b;
}

.mat-sidenav {
    background-color: #26a69a;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }